@keyframes moving-gradient {
  0% {
    left: 0; }
  100% {
    left: -2600px; } }

@keyframes scale-gradient {
  0% {
    transform: scale(1, 1); }
  25% {
    transform: scale(1.3, 1); }
  50% {
    transform: scale(1.1, 1); }
  75% {
    transform: scale(1.2, 1); }
  100% {
    transform: scale(1, 1); } }

body {
  font-size: 10px; }
  body .page {
    position: relative;
    z-index: 2; }

* {
  font-family: "Space Mono", monospace, sans-serif;
  font-size: inherit; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

p {
  font-size: 1.5em; }

a {
  color: black; }
  a:hover {
    color: black; }

img {
  max-width: 100%;
  height: auto; }

@media (min-width: 719px) {
  body {
    font-size: 11px; } }

@media only screen and (min-width: 1023px) {
  body {
    font-size: 12px; } }

.lang-switch {
  position: absolute;
  top: 0.5em;
  right: 0.5em; }
  .lang-switch ul.menu {
    padding: 0;
    margin: 0;
    font-size: 1.3em; }
    .lang-switch ul.menu li {
      list-style-type: none;
      margin: 0;
      padding: 0; }
    .lang-switch ul.menu .menu-item {
      float: left;
      margin: 0 1em 0 0;
      line-height: 100%;
      text-transform: uppercase;
      margin-right: 0; }
      .lang-switch ul.menu .menu-item:after {
        content: "/";
        margin: 0 0.1em; }
      .lang-switch ul.menu .menu-item:last-child:after {
        content: ""; }
      .lang-switch ul.menu .menu-item a {
        text-decoration: none;
        font-family: "alternate-gothic-no-1-d", sans-serif; }
        .lang-switch ul.menu .menu-item a:hover {
          text-decoration: underline; }
      .lang-switch ul.menu .menu-item.current-lang a, .lang-switch ul.menu .menu-item.current-menu-item a {
        text-decoration: underline; }

.header {
  margin: 3em 1em 2em; }
  .header:after {
    content: "";
    display: block;
    clear: both; }
  .header .logo {
    display: block;
    font-family: "alternate-gothic-no-1-d", sans-serif;
    font-size: 2em;
    text-decoration: none; }
    .header .logo span {
      display: inline-block;
      margin: 0 -0.1em;
      transform: scale(0.65, 1); }
  .header ul.menu {
    padding: 0;
    margin: 0;
    margin: 1em 0;
    font-size: 2em; }
    .header ul.menu li {
      list-style-type: none;
      margin: 0;
      padding: 0; }
    .header ul.menu .menu-item {
      float: left;
      margin: 0 1em 0 0;
      padding: 0 0.03em;
      line-height: 100%;
      text-transform: uppercase;
      border-bottom: 3px solid white;
      transition: border-color 0.4s; }
      .header ul.menu .menu-item:last-child {
        margin-right: 0; }
      .header ul.menu .menu-item a {
        text-decoration: none;
        font-family: "alternate-gothic-no-1-d", sans-serif; }
      .header ul.menu .menu-item:hover, .header ul.menu .menu-item.current-menu-item {
        border-color: black;
        transition: border-color 0.2s; }
      .header ul.menu .menu-item:last-child {
        margin-right: 0; }
  @media (min-width: 719px) {
    .header {
      margin: 3em 2em 2em;
      font-size: 1.3em; }
      .header .logo {
        float: left; }
      .header div.menu {
        float: right; }
        .header div.menu ul.menu {
          margin: 0; } }

.content {
  position: relative;
  width: 96%;
  margin: 0 auto;
  max-width: 80em; }

.wpcf7 {
  font-size: 1.3em; }
  .wpcf7 .screen-reader-response {
    visibility: hidden;
    max-height: 10px; }
  .wpcf7 .wpcf7-response-output {
    color: white;
    font-weight: bold; }
  .wpcf7 .field {
    position: relative;
    display: block;
    margin: 2em 0; }
    .wpcf7 .field:after {
      content: "";
      display: block;
      clear: both; }
    .wpcf7 .field.text {
      border-bottom: 2px solid white; }
    .wpcf7 .field.textarea {
      border: 2px solid white; }
    .wpcf7 .field.checkboxes .wpcf7-list-item {
      display: block;
      margin: 1em 0; }
    .wpcf7 .field label {
      position: absolute;
      top: 0;
      left: 0.3em;
      display: block;
      font-size: 0.9em; }
    .wpcf7 .field input[type=text], .wpcf7 .field input[type=email], .wpcf7 .field textarea {
      width: 100%;
      display: block;
      border-width: 0;
      background-color: transparent;
      font-size: 1.4em;
      outline: none;
      color: white; }
    .wpcf7 .field input[type=text], .wpcf7 .field input[type=email] {
      float: right;
      width: 75%; }
    .wpcf7 .field textarea {
      padding: 1em 0.2em;
      box-sizing: border-box; }
    .wpcf7 .field .wpcf7-not-valid-tip {
      position: absolute;
      top: 0;
      right: 0; }
  .wpcf7 input[type=submit] {
    display: inline-block;
    background-color: transparent;
    padding: 0.5em 3em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4em;
    cursor: pointer;
    transition: background-color 0.2s;
    border: 2px solid rgba(255, 255, 255, 0.75);
    color: white; }
    .wpcf7 input[type=submit]:hover {
      background-color: rgba(255, 255, 255, 0.2); }
  @media (min-width: 719px) {
    .wpcf7 .field input[type=text], .wpcf7 .field input[type=email] {
      width: 85%; } }

.home .content {
  max-width: none;
  margin-left: auto;
  margin-height: auto; }

.home .content > div {
  text-align: center;
  margin: 4em auto; }

.home h2 {
  font-family: "alternate-gothic-no-1-d", sans-serif;
  font-weight: normal;
  font-size: 5em;
  text-transform: uppercase;
  margin: 0;
  line-height: 1em; }

.home p {
  margin: 1em 0 1.5em; }

.home .countdown {
  overflow-x: hidden;
  position: relative;
  padding: 18em 0;
  margin: 0 auto;
  max-width: 80em;
  z-index: 0; }
  .home .countdown:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 4000px;
    background: linear-gradient(90deg, #cdd7e0 0%, #ff6524 7%, #ff4334 14%, #ff5000 20%, #b21f81 35%, #cdd7e0 40%, #ff5000 47%, #ff2c65 54%, white 59%, #0d156c 61%, #cdd7e0 65%, #ff6524 72%, #ff4334 79%, #ff5000 85%, #b21f81 100%);
    animation: moving-gradient 60s linear infinite, scale-gradient 10s infinite; }
  .home .countdown:after {
    content: "";
    display: block;
    background: url(images/noise.gif);
    background-size: 500px 500px;
    position: absolute;
    opacity: 0.10;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .home .countdown h1 {
    position: relative;
    z-index: 1;
    color: white; }

.home .stream #stream-player {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  margin-top: 2em; }
  .home .stream #stream-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.home .intro {
  max-width: 80em; }
  .home .intro h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3.6em;
    font-weight: normal;
    letter-spacing: 0.1em;
    padding: 2em;
    margin: 0 1em 1em;
    color: white;
    background-position: center center;
    background-size: cover; }
  .home .intro .cta {
    display: inline-block;
    background-color: transparent;
    padding: 0.5em 3em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4em;
    cursor: pointer;
    transition: background-color 0.2s;
    border: 2px solid rgba(0, 0, 0, 0.75);
    color: black; }
    .home .intro .cta:hover {
      background-color: rgba(0, 0, 0, 0.2); }

.home .activists {
  max-width: 80em; }
  .home .activists .activist-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; }
    .home .activists .activist-list:after {
      content: "";
      display: block;
      clear: both; }
    .home .activists .activist-list li {
      list-style-type: none;
      margin: 0;
      padding: 0; }
    .home .activists .activist-list .activist-item {
      display: block;
      text-align: left;
      width: 48%;
      margin: 2em 1%;
      font-size: 0.7em; }
      .home .activists .activist-list .activist-item .thumb-link {
        position: relative; }
        .home .activists .activist-list .activist-item .thumb-link:before {
          content: "";
          display: block;
          width: 4em;
          height: 4em;
          position: absolute;
          bottom: 0;
          left: 0;
          background: white url(images/link-arrow.png) center center no-repeat;
          background-size: 2em 2em;
          transition: background-color 0.2s; }
          .home .activists .activist-list .activist-item .thumb-link:before:hover {
            background-color: red; }
      .home .activists .activist-list .activist-item img {
        max-width: 100%;
        height: auto; }
      .home .activists .activist-list .activist-item h3 {
        font-weight: normal; }
      .home .activists .activist-list .activist-item a {
        text-decoration: none; }

.home .voices {
  position: relative;
  max-width: 80em;
  min-height: 500px; }
  .home .voices h2 {
    margin-bottom: 1em; }
  .home .voices p {
    position: relative;
    text-align: left;
    margin: 0;
    z-index: 1;
    font-size: 1.8em; }
  .home .voices .cta {
    font-size: inherit;
    text-align: left;
    margin-top: 3em; }
    .home .voices .cta a {
      display: inline-block;
      background-color: transparent;
      padding: 0.5em 3em;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.4em;
      cursor: pointer;
      transition: background-color 0.2s;
      border: 2px solid rgba(0, 0, 0, 0.75);
      color: black; }
      .home .voices .cta a:hover {
        background-color: rgba(0, 0, 0, 0.2); }
  .home .voices .gradient {
    position: absolute;
    top: 9em;
    right: 0;
    left: 46%;
    z-index: 0;
    height: 60%;
    overflow-x: hidden; }
    .home .voices .gradient:before {
      content: "";
      display: block;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      bottom: 0;
      width: 4000px;
      background: linear-gradient(90deg, #cdd7e0 0%, #ff6524 7%, #ff4334 14%, #ff5000 20%, #b21f81 35%, #cdd7e0 40%, #ff5000 47%, #ff2c65 54%, white 59%, #0d156c 61%, #cdd7e0 65%, #ff6524 72%, #ff4334 79%, #ff5000 85%, #b21f81 100%);
      animation: moving-gradient 60s linear infinite, scale-gradient 10s infinite; }
    .home .voices .gradient:after {
      content: "";
      display: block;
      background: url(images/noise.gif);
      background-size: 500px 500px;
      position: absolute;
      opacity: 0.10;
      z-index: 1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }

.home .events {
  max-width: 80em; }
  .home .events #map {
    height: 200px;
    height: 50vh;
    min-height: 200px; }
  .home .events .cta {
    display: inline-block;
    background-color: transparent;
    padding: 0.5em 3em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4em;
    cursor: pointer;
    transition: background-color 0.2s;
    border: 2px solid rgba(0, 0, 0, 0.75);
    color: black;
    margin-top: 2em; }
    .home .events .cta:hover {
      background-color: rgba(0, 0, 0, 0.2); }
  .home .events .map-container {
    text-align: left; }
    .home .events .map-container .legend {
      position: relative;
      top: -2.4em;
      padding: 0.6em;
      background-color: white;
      display: inline-block; }
      .home .events .map-container .legend:before {
        content: "";
        display: block;
        float: left;
        margin-right: 0.4em;
        background-color: #0de7a3;
        width: 1.4em;
        height: 1.4em; }

@media (min-width: 719px) {
  .home h2 {
    font-size: 8.8em; }
  .home .activists .activist-list .activist-item {
    width: 23%; }
    .home .activists .activist-list .activist-item:nth-child-of-type(2n + 0) {
      clear: none; }
    .home .activists .activist-list .activist-item:nth-child-of-type(4n + 0) {
      clear: left; }
  .home .message {
    display: flex;
    justify-content: center; }
    .home .message:before {
      content: " ";
      background: url(images/logo.png) no-repeat top left;
      background-size: 600px;
      margin: 0;
      width: 90px;
      height: 100px; }
    .home .message .message-text {
      background: url(images/logo-line.png) repeat-x top left;
      background-size: 30px;
      padding: 0 15px;
      max-width: 24em;
      font-size: 13px;
      height: 100px; }
      .home .message .message-text p {
        font-size: inherit;
        margin: 0;
        max-height: 6em;
        overflow: hidden;
        text-overflow: ellipsis; }
    .home .message:after {
      content: " ";
      background: url(images/logo.png) no-repeat top right;
      background-size: 600px;
      width: 470px;
      height: 100px; } }

.about-page h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3.6em;
  font-weight: normal;
  letter-spacing: 0.1em;
  padding: 2em;
  color: white;
  background-position: center center;
  background-size: cover; }

.about-page .countdown {
  position: relative; }
  .about-page .countdown .gradient {
    overflow-x: hidden;
    width: 50%;
    height: auto;
    position: relative;
    height: 24em; }
    .about-page .countdown .gradient:before {
      content: "";
      display: block;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      bottom: 0;
      width: 4000px;
      background: linear-gradient(90deg, #cdd7e0 0%, #ff6524 7%, #ff4334 14%, #ff5000 20%, #b21f81 35%, #cdd7e0 40%, #ff5000 47%, #ff2c65 54%, white 59%, #0d156c 61%, #cdd7e0 65%, #ff6524 72%, #ff4334 79%, #ff5000 85%, #b21f81 100%);
      animation: moving-gradient 60s linear infinite, scale-gradient 10s infinite; }
    .about-page .countdown .gradient:after {
      content: "";
      display: block;
      background: url(images/noise.gif);
      background-size: 500px 500px;
      position: absolute;
      opacity: 0.10;
      z-index: 1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
  .about-page .countdown h2 {
    font-family: "alternate-gothic-no-1-d", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 10%;
    left: 20%;
    font-size: 8em; }

.about-page img.alignright {
  width: 100%; }

.about-page img.aligncenter {
  display: block;
  margin: 2em auto; }

@media (min-width: 719px) {
  .about-page .countdown .gradient {
    width: 80%;
    left: -30%; }
  .about-page .countdown h2 {
    right: 20%;
    top: 30%; }
  .about-page p {
    max-width: 80%;
    margin: 2em auto; }
  .about-page img.alignright {
    position: relative;
    right: -30%; } }

.post .kicker {
  font-size: 1.8em; }

.post .post-content a:hover {
  color: #f905cd; }

.post .post-content ul {
  font-size: 1.5em; }

.single-activist .content h1 {
  font-size: 8em;
  font-family: "alternate-gothic-no-1-d", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1em; }

.single-activist .content .facts {
  font-size: 1.3em; }

.single-activist .content .video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  margin-top: 2em; }
  .single-activist .content .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

@media (min-width: 719px) {
  .single-activist .content .text-content:after {
    content: "";
    display: block;
    clear: both; }
  .single-activist .content h1 {
    margin: 0 0 0.5em; }
  .single-activist .content .meta {
    float: left;
    width: 30%;
    margin: 3em 0 0; }
  .single-activist .content .post-content {
    float: right;
    width: 60%;
    margin: 3em 0 0; }
    .single-activist .content .post-content p:first-child {
      margin-top: 0; }
  .single-activist .content .video {
    clear: both;
    width: 80%;
    margin: 5em auto;
    padding-bottom: 45%; } }

.wpcf7 {
  position: relative;
  padding: 1em;
  overflow-x: hidden; }
  .wpcf7:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 4000px;
    background: linear-gradient(90deg, #cdd7e0 0%, #ff6524 7%, #ff4334 14%, #ff5000 20%, #b21f81 35%, #cdd7e0 40%, #ff5000 47%, #ff2c65 54%, white 59%, #0d156c 61%, #cdd7e0 65%, #ff6524 72%, #ff4334 79%, #ff5000 85%, #b21f81 100%);
    animation: moving-gradient 60s linear infinite, scale-gradient 10s infinite; }
  .wpcf7:after {
    content: "";
    display: block;
    background: url(images/noise.gif);
    background-size: 500px 500px;
    position: absolute;
    opacity: 0.10;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }

form textarea, form input {
  background: transparent;
  border-width: 0;
  position: relative;
  z-index: 100; }

form input[type=submit] {
  display: inline-block;
  background-color: transparent;
  padding: 0.5em 3em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4em;
  cursor: pointer;
  transition: background-color 0.2s;
  border: 2px solid rgba(255, 255, 255, 0.75);
  color: white;
  display: block;
  color: black;
  border-color: black;
  margin: 2em auto; }
  form input[type=submit]:hover {
    background-color: rgba(255, 255, 255, 0.2); }

form ul.form-items {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  padding: 2em 10%;
  position: relative;
  z-index: 2; }
  form ul.form-items:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 4000px;
    background: linear-gradient(90deg, #cdd7e0 0%, #ff6524 7%, #ff4334 14%, #ff5000 20%, #b21f81 35%, #cdd7e0 40%, #ff5000 47%, #ff2c65 54%, white 59%, #0d156c 61%, #cdd7e0 65%, #ff6524 72%, #ff4334 79%, #ff5000 85%, #b21f81 100%);
    animation: moving-gradient 60s linear infinite, scale-gradient 10s infinite; }
  form ul.form-items:after {
    content: "";
    display: block;
    background: url(images/noise.gif);
    background-size: 500px 500px;
    position: absolute;
    opacity: 0.10;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  form ul.form-items li {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  form ul.form-items * {
    box-sizing: border-box; }
  form ul.form-items li {
    margin: 1em 0;
    position: relative; }
    form ul.form-items li.text-item {
      border-bottom: 2px solid black;
      position: relative;
      height: 4em; }
      form ul.form-items li.text-item:after {
        content: "";
        display: block;
        clear: both; }
      form ul.form-items li.text-item label {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 0; }
      form ul.form-items li.text-item input {
        position: absolute;
        top: 1em;
        left: 5%;
        width: 95%;
        font-size: 1.5em; }
    form ul.form-items li.file-item {
      border: 2px solid black;
      padding: 2em;
      text-align: center; }
    form ul.form-items li.textarea-item label {
      display: block;
      margin: 0 0 0.5em; }
    form ul.form-items li.textarea-item textarea {
      display: block;
      width: 100%;
      border: 2px solid black;
      font-size: 1.5em; }
  form ul.form-items .radio-option {
    position: relative;
    padding-left: 2em; }
    form ul.form-items .radio-option input {
      position: absolute;
      left: 0;
      top: 0.1em; }

form .small-print {
  font-size: 90%;
  margin: 0; }

@media (min-width: 719px) {
  form {
    font-size: 1.5em; }
    form .small-print {
      font-size: 80%; } }

.event-form .event-form-date {
  margin-right: 2%; }

.event-form .event-form-date, .event-form .event-form-time {
  float: left;
  width: 49%; }

.event-form .event-form-date {
  clear: left; }

.event-form .event-form-city {
  clear: both; }

.event-form .event-form-image {
  font-size: 80%; }
  .event-form .event-form-image span {
    display: block;
    font-size: 125%; }
  .event-form .event-form-image .upload-warning {
    margin: 0 auto 1em;
    font-size: 80%;
    max-width: 44em; }

.event-added-page {
  position: relative;
  overflow-x: hidden; }
  .event-added-page:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 4000px;
    background: linear-gradient(90deg, #cdd7e0 0%, #ff6524 7%, #ff4334 14%, #ff5000 20%, #b21f81 35%, #cdd7e0 40%, #ff5000 47%, #ff2c65 54%, white 59%, #0d156c 61%, #cdd7e0 65%, #ff6524 72%, #ff4334 79%, #ff5000 85%, #b21f81 100%);
    animation: moving-gradient 60s linear infinite, scale-gradient 10s infinite; }
  .event-added-page:after {
    content: "";
    display: block;
    background: url(images/noise.gif);
    background-size: 500px 500px;
    position: absolute;
    opacity: 0.10;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .event-added-page .page-content {
    position: relative;
    z-index: 100;
    margin: 3em 10%;
    text-align: center; }
    .event-added-page .page-content h1 {
      font-size: 2em;
      text-transform: uppercase; }
  @media (min-width: 719px) {
    .event-added-page .page-content {
      margin: 10em 25%; } }

.events-map {
  height: 20em;
  height: 60vh;
  margin: 0 0 2em; }
  .events-map #map {
    height: 100%;
    width: 100%; }
  .events-map .legend {
    position: relative;
    top: -2.4em;
    padding: 0.6em;
    background-color: white;
    display: inline-block; }
    .events-map .legend:before {
      content: "";
      display: block;
      float: left;
      margin-right: 0.4em;
      background-color: #0de7a3;
      width: 1.4em;
      height: 1.4em; }

.events-table {
  border-spacing: 0;
  border-collapse: collapse;
  border-bottom: 2px solid black; }
  .events-table th, .events-table td {
    padding: 0.5em 2em 0.5em 1em;
    vertical-align: top; }
  .events-table th {
    text-transform: uppercase;
    text-align: left;
    border-bottom: 2px solid black; }
  .events-table tr:nth-of-type(3n+0) td {
    position: relative;
    left: -1%; }
  .events-table tr:nth-of-type(2n+0) td {
    position: relative;
    left: 0.5%; }
  .events-table .title, .events-table .organizer {
    display: block; }
  .events-table .organizer {
    font-size: 0.7em; }
  @media (min-width: 719px) {
    .events-table {
      width: 100%; }
      .events-table th, .events-table td {
        font-size: 1.5em;
        padding-top: 2em;
        padding-bottom: 2em; } }

.post.event h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 4em; }

.post.event .event-header {
  position: relative;
  overflow-x: hidden;
  height: 30em; }
  .post.event .event-header:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 4000px;
    background: linear-gradient(90deg, #cdd7e0 0%, #ff6524 7%, #ff4334 14%, #ff5000 20%, #b21f81 35%, #cdd7e0 40%, #ff5000 47%, #ff2c65 54%, white 59%, #0d156c 61%, #cdd7e0 65%, #ff6524 72%, #ff4334 79%, #ff5000 85%, #b21f81 100%);
    animation: moving-gradient 60s linear infinite, scale-gradient 10s infinite; }
  .post.event .event-header:after {
    content: "";
    display: block;
    background: url(images/noise.gif);
    background-size: 500px 500px;
    position: absolute;
    opacity: 0.10;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .post.event .event-header .image {
    position: relative;
    z-index: 100; }
  .post.event .event-header .info {
    font-family: "alternate-gothic-no-1-d", sans-serif;
    position: relative;
    z-index: 100;
    text-align: center;
    margin: 2em 0 0; }
    .post.event .event-header .info p.title, .post.event .event-header .info p.basic, .post.event .event-header .info p.organizer {
      font-family: inherit;
      font-size: 2.8em;
      text-transform: uppercase;
      margin: 0; }
    .post.event .event-header .info p.title {
      text-decoration: underline;
      margin: 2em 0 1em; }
    .post.event .event-header .info .share {
      font-size: 1.1em; }
      .post.event .event-header .info .share input {
        width: 26em;
        margin: 0.5em auto; }

@media (min-width: 719px) {
  .post.event .event-header.with-image .image {
    position: absolute;
    top: 0;
    left: 0;
    right: 40%;
    bottom: 0;
    background-size: cover;
    background-position: center center; }
  .post.event .event-header.with-image .info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 60%; }
    .post.event .event-header.with-image .info p.title, .post.event .event-header.with-image .info p.basic, .post.event .event-header.with-image .info p.organizer {
      font-size: 2.2em; }
    .post.event .event-header.with-image .info .share {
      font-size: 0.9em; } }

.post-type-archive-voice img {
  width: 100%;
  height: Auto; }

.post-type-archive-voice .voice {
  margin: 2em 0; }
  .post-type-archive-voice .voice h2 {
    font-size: 1.2em; }
  .post-type-archive-voice .voice .fact-list {
    font-size: 1.2em; }

.post-type-archive-voice .thumbnail {
  display: block;
  position: relative; }
  .post-type-archive-voice .thumbnail:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 6em;
    height: 6em;
    background-color: red;
    margin-left: -3em;
    margin-top: -3em;
    background: transparent url(images/play.png) no-repeat;
    background-size: 100% 100%;
    opacity: 0.7;
    transition: opacity 0.5s; }
  .post-type-archive-voice .thumbnail:hover:before {
    transition: opacity 0.2s;
    opacity: 1.0; }

@media (min-width: 719px) {
  .post-type-archive-voice .intro {
    width: 40%;
    min-width: 20em;
    float: left;
    margin: 0 0 2em; }
  .post-type-archive-voice .voices:after {
    content: "";
    display: block;
    clear: both; }
  .post-type-archive-voice .voice {
    margin: 0 1em 4em; }
    .post-type-archive-voice .voice:first-child {
      clear: none !important; }
    .post-type-archive-voice .voice:nth-of-type(2n + 1) {
      clear: both;
      float: right; }
    .post-type-archive-voice .voice:nth-of-type(2n + 2) {
      float: left; }
    .post-type-archive-voice .voice:nth-of-type(6n + 1) {
      width: 55%;
      margin-right: 0; }
    .post-type-archive-voice .voice:nth-of-type(6n + 2) {
      width: 30%;
      margin-left: 0; }
    .post-type-archive-voice .voice:nth-of-type(6n + 3) {
      width: 40%;
      float: left;
      margin-left: 0; }
    .post-type-archive-voice .voice:nth-of-type(6n + 4) {
      width: 40%;
      float: left; }
    .post-type-archive-voice .voice:nth-of-type(6n + 5) {
      width: 30%;
      float: right;
      margin-right: 0; }
    .post-type-archive-voice .voice:nth-of-type(6n + 6) {
      width: 30%;
      float: right; } }

.footer {
  margin: 5em;
  text-align: center; }
  .footer a {
    text-decoration: none; }
    .footer a:hover {
      text-decoration: underline; }
  .footer .social-list {
    padding: 0;
    margin: 0;
    margin: 2em 0; }
    .footer .social-list li {
      list-style-type: none;
      margin: 0;
      padding: 0; }
    .footer .social-list .social-item {
      display: inline-block;
      margin: 0 1em; }
      .footer .social-list .social-item img {
        max-width: 2em;
        opacity: 0.6;
        transition: opacity 0.2s; }
      .footer .social-list .social-item a:hover img {
        opacity: 0.9; }

.fact-list {
  padding: 0;
  margin: 0;
  font-size: inherit; }
  .fact-list li {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .fact-list li {
    font-size: inherit; }
  .fact-list .label:after {
    content: ": "; }

.share input {
  display: block;
  margin: 0.5em 0;
  text-align: center;
  border: 2px solid black;
  background-color: transparent; }

.flash.flashing {
  position: relative;
  display: block; }

.flash .overlay {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 9999; }
  .flash .overlay .gradient {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 8000px;
    background: linear-gradient(90deg, #cdd7e0 0%, #ff6524 7%, #ff4334 14%, #ff5000 20%, #b21f81 35%, #cdd7e0 40%, #ff5000 47%, #ff2c65 54%, white 59%, #0d156c 61%, #cdd7e0 65%, #ff6524 72%, #ff4334 79%, #ff5000 85%, #b21f81 95%, #cdd7e0 100%);
    background-size: 4000px; }
  .flash .overlay:after {
    content: "";
    display: block;
    background: url(images/noise.gif);
    background-size: 500px 500px;
    position: absolute;
    opacity: 0.10;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
