.event-form {
    .event-form-date, .event-form-start {
        margin-right: 2%;
    }

    .event-form-date, .event-form-start, .event-form-end {
        float: left;
        width: 32%;
    }

    .event-form-city {
        clear: both;
    }
}

.event-added-page {
    position: relative;
    @include animated-gradient-background(absolute);
    .page-content {
        position: relative;
        z-index: 100;
        margin: 3em 10%;
        text-align: center;

        h1 {
            font-size: 2em;
            text-transform: uppercase;
        }
    }

    @include medium-screen {
        .page-content {
            margin: 10em 25%;
        }
    }
}

.events-table {
    border-spacing: 0;
    border-collapse: collapse;
    border-bottom: 2px solid black;

    th, td {
        padding: 0 2em 0 1em;
    }

    th {
        text-transform: uppercase;
        text-align: left;
        border-bottom: 2px solid black;
    }

    tr:nth-of-type(3n+0) {
        td {
            position: relative;
            left: -1em;
        }
    }

    tr:nth-of-type(2n+0) {
        td {
            position: relative;
            left: 0.5em;
        }
    }

    .title, .organizer {
        display: block;
    }

    .organizer {
        font-size: 0.7em;
    }

    @include medium-screen {
        width: 100%;

        th, td {
            font-size: 1.5em;
            padding-top: 2em;
            padding-bottom: 2em;
        }
    }
}
