form {
    textarea, input {
        background: transparent;
        border-width: 0;
    }

    input[type=submit] {
        @include cta-button;
        display: block;

        color: black;
        border-color: black;

        margin: 2em auto;
    }

    ul.form-items {
        @include animated-gradient-background(absolute);
        @include list-reset;
        padding: 2em 10%;

        position: relative;
        z-index: 2;

        * {
            box-sizing: border-box;
        }

        li {
            margin: 1em 0;
            position: relative;

            &.text-item {
                @include clear-after;

                border-bottom: 2px solid black;
                position: relative;
                height: 4em;

                label {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    z-index: 0;
                }

                input {
                    position: absolute;
                    top: 1em;
                    left: 5%;
                    width: 95%;
                    font-size: 1.5em;
                    z-index: 100;
                }
            }

            &.file-item {
                border: 2px solid black;
                padding: 2em;
                text-align: center;

                input {
                    position: relative;
                    z-index: 100;
                }
            }

            &.textarea-item {
                label {
                    display: block;
                    margin: 0 0 0.5em;
                }

                textarea {
                    display: block;
                    width: 100%;
                    border: 2px solid black;
                    font-size: 1.5em;
                    position: relative;
                    z-index: 100;
                }
            }
        }
    }

    @include medium-screen {
        font-size: 1.5em;
    }
}
