.lang-switch {
    position: absolute;
    top: 0.5em;
    right: 0.5em;

    ul.menu {
        @include list-reset;

        font-size: 1.3em;

        .menu-item {
            float: left;
            margin: 0 1em 0 0;
            line-height: 100%;
            text-transform: uppercase;
            margin-right: 0;

            &:after {
                content: "/";
                margin: 0 0.1em;
            }

            &:last-child {
                &:after {
                    content: "";
                }
            }

            a {
                text-decoration: none;
                font-family: $f-alt-gothic;

                &:hover {
                    text-decoration: underline;
                }
            }

            &.current-lang, &.current-menu-item {
                a {
                    text-decoration: underline;
                }
            }
        }
    }

}

.header {
    @include clear-after;

    margin: 3em 1em 2em;

    .logo {
        display: block;
        font-family: $f-alt-gothic;
        font-size: 2em;
        text-decoration: none;
        line-height: 1em;

        span {
            display: inline-block;
            margin: 0 -0.1em;
            transform: scale(0.65, 1.0);
        }
    }

    ul.menu {
        @include list-reset;

        margin: 1em 0;
        font-size: 2em;

        .menu-item {
            float: left;
            margin: 0 1em 0 0;
            padding: 0 0.03em;
            line-height: 100%;
            text-transform: uppercase;

            border-bottom: 3px solid white;
            transition: border-color 0.4s;

            &:last-child {
                margin-right: 0;
            }

            a {
                text-decoration: none;
                font-family: $f-alt-gothic;
            }

            &:hover, &.current-menu-item {
                border-color: black;
                transition: border-color 0.2s;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    @include medium-screen {
        margin: 3em 2em 2em;
        font-size: 1.3em;

        .logo {
            float: left;
        }

        div.menu {
            float: right;

            ul.menu {
                margin: 0;
            }
        }
    }
}
