.header {
    @include clear-after;

    margin: 2em 1em 2em;

    .logo {
        display: block;
        font-family: $f-alt-gothic;
        font-size: 2em;
        text-decoration: none;
    }

    ul.menu {
        @include list-reset;

        margin: 1em 0;
        font-size: 2em;

        .menu-item {
            float: left;
            margin: 0 1em 0 0;
            line-height: 100%;

            &.lang-item {
                margin-right: 0;

                &:after {
                    content: "/";
                    margin: 0 0.1em;
                }

                &:last-child {
                    &:after {
                        content: "";
                    }
                }
            }

            a {
                text-decoration: none;
                font-family: $f-alt-gothic;

                &:hover {
                    text-decoration: underline;
                }
            }

            &.current-lang, &.current-menu-item {
                a {
                    text-decoration: underline;
                }
            }
        }
    }

    @include medium-screen {
        margin: 2em 3em 2em;
        font-size: 1.3em;

        .logo {
            float: left;
        }

        div.menu {
            float: right;

            ul.menu {
                margin: 0;
            }
        }
    }
}
