.home {
    .content {
        max-width: none;
        margin-left: auto;
        margin-height: auto;
    }

    .content > div {
        text-align: center;
        margin: 4em auto;
    }

    h2 {
        font-family: $f-alt-gothic;
        font-weight: normal;
        font-size: 5em;
        text-transform: uppercase;
        margin: 0;
        line-height: 1em;
    }

    p {
        margin: 1em 0 1.5em;
    }

    .countdown {
        @include animated-gradient-background(absolute);

        position: relative;
        padding: 18em 0;
        margin: 0 auto;
        max-width: 80em;
        z-index: 0;

        h1 {
            position: relative;
            z-index: 1;
            color: white;
        }
    }

    .stream {
        #stream-player {
            position: relative;
            width: 100%;
            padding-bottom: 56.25%;
            height: 0;
            margin-top: 2em;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    .intro {
        max-width: 80em;

        h1 {
            text-align: center;
            text-transform: uppercase;
            font-size: 3.6em;
            font-weight: normal;
            letter-spacing: 0.1em;
            padding: 2em;
            margin: 0 1em 1em;
            color: white;
            background-position: center center;
            background-size: cover;
        }
    }

    .activists {
        max-width: 80em;

        .activist-list {
            @include clear-after;
            @include list-reset;

            .activist-item {
                display: block;
                float: left;
                text-align: left;

                width: 48%;
                margin: 2em 1%;

                font-size: 0.7em;

                &:nth-child-of-type(2n + 0) {
                    clear: left;
                }

                .thumb-link {
                    position: relative;

                    &:before {
                        content: "";
                        display: block;
                        width: 4em;
                        height: 4em;
                        position: absolute;
                        bottom: 0;
                        left: 0;

                        background: white url(images/link-arrow.png) center center no-repeat;
                        background-size: 2em 2em;

                        transition: background-color 0.2s;

                        &:hover {
                            background-color: red;
                        }
                    }
                }

                img {
                    max-width: 100%;
                    height: auto;
                }

                h3 {
                    font-weight: normal;
                }

                a {
                    text-decoration: none;
                }
            }
        }
    }

    .voices {
        position: relative;
        max-width: 80em;
        min-height: 500px;

        h2 {
            margin-bottom: 1em;
        }

        p {
            position: relative;
            text-align: left;
            margin: 0;
            z-index: 1;
            font-size: 1.8em;
        }

        .cta {
            font-size: inherit;
            text-align: left;
            margin-top: 3em;

            a {
                @include cta-button-black;
            }
        }

        .gradient {
            position: absolute;
            top: 9em;
            right: 0;
            left: 46%;
            z-index: 0;
            height: 60%;

            @include animated-gradient-background(absolute);
        }
    }

    .events {
        max-width: 80em;

        #map {
            height: 50vh;
            min-height: 400px;
        }

        .cta {
            @include cta-button-black;
            margin-top: 2em;
        }
    }

    @include medium-screen {
        h2 {
            font-size: 8.8em;
        }

        .activists {
            .activist-list {
                .activist-item {
                    width: 23%;

                    &:nth-child-of-type(2n + 0) {
                        clear: none;
                    }

                    &:nth-child-of-type(4n + 0) {
                        clear: left;
                    }
                }
            }
        }

        .message {
            display: flex;
            justify-content: center;

            &:before {
                content: " ";
                background: url(images/logo.png) no-repeat top left;
                background-size: 600px;
                margin: 0;
                width: 90px;
                height: 100px;
            }

            .message-text {
                background: url(images/logo-line.png) repeat-x top left;
                background-size: 30px;
                padding: 5px 15px 0;
                max-width: 24em;
                font-size: 14px;
                height: 100px;

                animation: message-underscore-blink 1s steps(4, end) infinite;
            }

            &:after {
                content: " ";
                background: url(images/logo.png) no-repeat top right;
                background-size: 600px;
                width: 470px;
                height: 100px;
            }
        }
    }
}

@keyframes message-underscore-blink {
    0% { background-position: top left };
    70% { background-position: top left };
    100% { background-position: 0 100px };
}
