.post {
    .kicker {
        font-size: 1.8em;
    }

    .post-content {
        a {
            &:hover {
                color: $c-grad04;
            }
        }

        ul {
            font-size: 1.5em;
        }
    }
}
